<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="KdxLocal" value="C:\NuGetLocal" />
    <!-- 将来的にGitHub Packagesを使用する場合 -->
    <!-- <add key="github" value="https://nuget.pkg.github.com/KANAMORI-SYSTEM-Inc/index.json" /> -->
  </packageSources>
</configuration>
